/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$font:24px; 
$yellow_bg:yellow;
$font_home:'微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
@import "compass/reset";

.footer{
	min-width: 1000px;
  height:265px;
  background-color: #eeeeee;
  margin-top: 60px;
  .footerlogo{text-align: center;
    img{padding: 0 5px;}
  }
  .line{  width: 1000px;
  height: 2px;margin: 0 auto;
  background: url(../../images/line_footer.gif) repeat-x;
  margin-top: 30px;}
  .copyright{font-family: $font_home;
			  -webkit-font-smoothing: antialiased;font-size: 12px;text-align:center;padding: 27px;
			color: #666;}
  .row1{
  	margin: 0 auto;overflow: hidden;
  	width: 1000px; 

  	.column1{
  		float: left;
		a{
			font-family: $font_home;
			  -webkit-font-smoothing: antialiased;
			margin-right: 34px;
			line-height: 70px;
			text-decoration:none;
			font-size: 13px;
			color: #666;
      cursor: pointer;
		}
  	}
  	.column2{
  		float: right;
  		img{
  			vertical-align: middle;
  		}
  		.span{
			font-family: $font_home;
			  -webkit-font-smoothing: antialiased;
			padding-right: 34px;
			line-height: 70px;
			text-decoration:none;
			font-size: 13px;
			color: #666;
  		}
  	}
  }
  .row2{
  	width: 1000px;
  	margin: 0 auto;


  	.number{font-size: 36px;-webkit-font-smoothing: antialiased;font-family: $font_home;line-height: 50px;color:#666;padding-left: 150-15px;}
  	.green{
  		float: left;font-family: $font_home;
  		 -webkit-font-smoothing: antialiased;
  		padding-right: 28px;font-size: 18px;
  		line-height: 50px;color: #a7bd06;
  	}
  	.space{width: 60-15px;float: left;height: 10px;}
  	.raidus{
    		.pad7{  padding: 3px 5px;}
    		.fr{float: right;  margin: -36px 8px;}
    		.tip4{position: absolute;left: -4%;
        top: -12px;}
    		.tip3{width: 193px;height: 90px;border-radius: 8px;position: absolute; left: -66px;
          top: -100px;;background: white;border: 1px solid #ccc;
        .font12{ float: right;width: 95px;padding: 10px 2px 20px 2px; font-size: 12px;margin:0 auto;	 -webkit-font-smoothing: antialiased;font-family: $font_home;}
        }
    		.tip2{position: absolute;left: -10%;
    top: -11px;}
        .tip1,.tip2,.tip3,.tip4{display: none;}
		    .tip1{width: 94px;height: 108px;border-radius: 8px;position: absolute;  left: -25px;
  top: -117px;;background: white;border: 1px solid #ccc;

        .font12{  text-align: center;font-size: 12px;margin:0 auto;	 -webkit-font-smoothing: antialiased;font-family: $font_home;}
        }
	
		position: relative;
  		float: left;position: relative;
  		margin-right: 15px;
  		width: 50px;height: 50px;
  	}
      .wechat, .wechat1 ,.sina,.sina1 ,.android,.iphone1 ,.iphone,.android1  {display:block;cursor:pointer; width: 50px;height: 50px;}
  	.wechat{background:url(../../images/download.png) no-repeat -17px -13px;}
  	.wechat1{background:url(../../images/download.png) no-repeat -18px -72px;}
  	.sina{background:url(../../images/download.png) no-repeat -82px -13px;}
  	.sina1{background:url(../../images/download.png) no-repeat -87px -73px;}
  	.android{background:url(../../images/download.png) no-repeat -315px -13px;}
  	.iphone1{background:url(../../images/download.png) no-repeat -378px -81px;}
  	.iphone{background:url(../../images/download.png) no-repeat -380px -13px;}
  	.android1{background:url(../../images/download.png) no-repeat  -313px -80px;}
  
  }
}