.img1,
.img2,
.img3,
.img4,
.img5{width:200px;height:200px;
	
	background-repeat:no-repeat}
	.img1{background-image:url(../images_hdb/big-0.png);}
	.img2{background-image:url(../images_hdb/big-1.png);}
	.img3{background-image:url(../images_hdb/big-2.png);}
	.img4{background-image:url(../images_hdb/big-3.png);}
	.img5{background-image:url(../images_hdb/big-4.png);}