.a{
	background: red;
	width: 200px;height: 200px;
	display: block;
}
.a{
	background: red;
	width: 200px;height: 200px;
}
.b{
	width: 200px;height: 200px;float: left;
}
.b{
	width: 200px;height: 200px;float: left;
}