@charset "utf-8";
/* CSS Document */
body{ font-family:'微软雅黑'; background:url(../images/figure_bg.jpg);}

.container .con1{ height:578px; background:url(../images/banner.jpg) no-repeat center 0;}
.container .con2{ height:592px; padding-top:60px; text-align:center;}

.con2 h1{ height:38px; background:url(../images/contrast_text.png) no-repeat center 0; text-indent:-9999px; overflow:hidden;}
.con2 p{ font-size:20px; color:#747476; margin:30px 0 40px;}
.con2 ul{ width:845px; height:318px; margin:0 auto;}
.con2 ul li{ width:114px; height:318px; position:relative; float:left; margin-right:68px; cursor:pointer;}
.con2 ul .jj{ margin:0;}
.con2 ul .view{ width:100%; display:block; position:absolute; left:0; bottom:88px; background:url(../images/histogram.jpg) no-repeat;}
.con2 ul .type-name{ font-size:20px; width:100%; height:60px; line-height:60px; color:#747476; position:absolute; left:0; top:230px;}
/*默认视图*/
.con2 ul .yh .view{ height:94px; background-position:0 -136px;}
.con2 ul .yeb .view{ height:146px; background-position:-178px -85px;}
.con2 ul .hdb .view{ height:230px; background-position:-362px 0;}
.con2 ul .lct .view{ height:182px; background-position:-547px -50px;}
.con2 ul .jj .view{ height:114px; background-position:-726px -118px;}
/*彩色图*/
.con2 .mask{width:100%; height:0; overflow:hidden; display:block; position:absolute; left:0; bottom:88px;}
.con2 ul .color{ width:100%; display:block; position:absolute; left:0; bottom:0; background:url(../images/histogram.jpg) no-repeat;}
.con2 ul .yh .color{ height:94px; background-position:0 -366px;}
.con2 ul .yeb .color{ height:146px; background-position:-178px -316px;}
.con2 ul .hdb .color{ height:230px; background-position:-362px -231px;}
.con2 ul .lct .color{ height:182px; background-position:-547px -280px;}
.con2 ul .jj .color{ height:114px; background-position:-726px -348px;}
/*比例*/
.con2 ul .scale{ width:100%; display:block; position:absolute; left:0; bottom:88px; font-size:20px; color:#fff;}
.con2 ul .yh .scale{ height:94px; line-height:94px;}
.con2 ul .yeb .scale{ height:146px; line-height:146px;}
.con2 ul .hdb .scale{ height:230px; line-height:230px;}
.con2 ul .lct .scale{ height:182px; line-height:182px;}
.con2 ul .jj .scale{ height:114px; line-height:114px;}
/*彩色文字*/
.con2 ul .active0 .type-name{ color:#90ff00;}
.con2 ul .active1 .type-name{ color:#ff9d0a;}
.con2 ul .active2 .type-name{ color:#ff1f3e;}
.con2 ul .active3 .type-name{ color:#0090ff;}
.con2 ul .active4 .type-name{ color:#ff01e4;}
/*级别*/
.con2 .level{ width:996px; height:54px; margin:0 auto; color:#ff1f3e; font-size:17px; line-height:54px; border-top:solid 11px #ff1f3e; border-bottom:solid 1px #ff1f3e;}
.con2 .level span{ margin:0 30px;}
.con2 .level i{ font-family: Arial;}
/*.con2 .green{ color:#90ff00; border-color:#90ff00;}
.con2 .yellow{ color:#ff9d0a; border-color:#ff9d0a;}
.con2 .red{ color:#ff1f3e; border-color:#ff1f3e;}
.con2 .blue{ color:#0090ff; border-color:#0090ff;}
.con2 .purple{ color:#ff01e4; border-color:#ff01e4;}*/

.rel{ position:relative; background:url(../images/module_bg.gif);}
.t-edge,.b-edge{width:100%; height:8px; background:url(../images/edge.png) repeat-x 0 -8px; position:absolute; left:0; }
.t-edge{ top:0;}
.b-edge{ background-position:0 0; bottom:0;}
.con3{ height:470px; padding-top:198px;}
.advantage{ width:868px; height:259px; background:url(../images/advantage.jpg) no-repeat; margin:0 auto;}

.con4{ height:488px; padding-top:144px;}
.security{ width:868px; height:300px; margin:0 auto; background:url(../images/security.jpg) no-repeat;}

.con5{ height:600px; padding-top:80px;}
.introduce{ width:916px; height:76px; padding-top:491px; margin:-15px auto; background:url(../images/introduce.jpg) no-repeat;}
.introduce a{ width:178px; height:56px; display:block; margin:18px 0 0 393px; text-indent:-9999px; overflow:hidden;}

/*.con6{ height:657px; padding-top:30px;}*/
.con6{ height:420px; overflow:hidden; padding-top:30px;}
.process{ width:962px; height:71px; padding-top:545px; margin:0 auto; background:url(../images/process.jpg) no-repeat;}
.process a{ width:241px; height:40px;display:block; margin-left:411px; text-indent:-9999px; overflow:hidden;}

.nav{ width:1045px; position:fixed; top:50%; left:50%; margin-left:-522px; margin-top:-273px;}
.nav ul{ width:100px; min-height:470px; padding:5px 0; background:url(../images/nav_bg.png); border:solid 1px #000; position:absolute; right:-101px; box-shadow:4px 4px 15px #000;}
.nav li{ height:74px; background:url(../images/b_lines.png) no-repeat center bottom;}
.nav li.reg{ background:none; padding-top:15px; margin-bottom: 10px;}
.nav li.reg a{ width:72px; height:60px; padding-top:2px; border-radius:3px; font-size:20px; color:#fff; background:#ed5565; margin:0 auto; text-indent:0; text-align:center;}
.nav li a{ width:100%; height:72px; display:block; text-indent:-9999px; overflow:hidden; cursor:pointer; background:url(../images/nav_text.png) no-repeat;}
.nav .n1 a{ background-position:8px 25px;}
.nav .n2 a{ background-position:8px -52px;}
.nav .n3 a{ background-position:8px -126px;}
.nav .n4 a{ background-position:8px -205px;}
.nav .n5 a{ background-position:8px -282px;}
.nav .n6 a{ background-position:8px -355px;}
.nav .n1 .active{ background-position:-162px 25px;}
.nav .n2 .active{ background-position:-162px -52px;}
.nav .n3 .active{ background-position:-162px -126px;}
.nav .n4 .active{ background-position:-162px -205px;}
.nav .n5 .active{ background-position:-162px -282px;}
.nav .n6 .active{ background-position:-162px -355px;}